<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias type="model.KicMember" alias="kicmember"></typeAlias>
<typeAlias type="model.Professor" alias="professor"></typeAlias>
<typeAlias type="model.Student" alias="student"></typeAlias>


</typeAliases>

<environments default = "development">
	<environment id = "development">
		<transactionManager type="JDBC"/>
		<dataSource type="POOLED">
			<property name = "driver" value="oracle.jdbc.OracleDriver"/>
			<property name = "url" value = "jdbc:oracle:thin:@localhost:1521:xe"/>
			<property name = "username" value = "kic"/>
			<property name = "password" value = "1111"/>
			</dataSource>
			</environment>
			</environments>
			
			<mappers>
			<mapper resource = "xml/kicmember.xml"></mapper>
			<mapper resource = "xml/professor1.xml"></mapper>
			<mapper resource = "xml/professor2.xml"></mapper>
			<mapper resource = "xml/student1.xml"></mapper>
			<mapper resource = "xml/student2.xml"></mapper>
			<mapper class="anno.ProfessorAnno"></mapper>
			
			</mappers>
		





</configuration>